{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{%block content%}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Ya esta Aqui¡</h5>
                    <p class="card-text">Imagina una aplicación en la cual puedas tener el control de todas tus caminatas, programarlas, reagendarlar y hasta cancelarlas, todo esto en un solo lugar</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title">¿Tienes Amigos peludos?</h5>
                <p class="card-text">Tambien tenemos un lugar para ti¡Aqui podrás gestionar toda la información relacionada con tus amigos</p>
            </div>
        </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Si eres el Administrador del sitio...</h5>
                    <p class="card-text">Tendrás acceso a todos los recursos del sistema, registrar nuevos usuarios, darles privilegios y muchas otras cosas</p>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}

{% block scripts %}
{{ super() }}
{% endblock %}